@import url(//fonts.googleapis.com/css?family=Ropa+Sans:400,400italic);

$theme-body-bg-color:           #000;

$theme-font-family:             'Ropa Sans', sans-serif;
$theme-font-weight:             300;
$theme-font-style:              'normal';
$theme-font-color:              #fff;
$theme-font-size:               16px;

$theme-highlight-color:         #f58220;
$theme-dark-color:              #222222;
$theme-light-color:             #959595;

$theme-input-bg-color:          #4e4e4e;
$theme-input-font-color:        #fff;
$theme-input-focus-color:       #fff;
$theme-button-bg-color:         $theme-input-bg-color;
$theme-button-font-color:       $theme-input-font-color;

$theme-accordion-header-color:  $theme-highlight-color;

$theme-section-spacing-size:    90px;