@import url(//fonts.googleapis.com/css?family=Ropa+Sans:400,400italic);

$theme-body-bg-color:           #000;

$theme-font-family:             'Ropa Sans', sans-serif;
$theme-font-color:              #959595;
$theme-font-size:               16px;
$theme-font-weight:             300;

$theme-highlight-color:         #f58220;
$theme-light-color:             #959595;
$theme-dark-color:              #222222;

$theme-header-bg-color:         rgba(#222222, 0.85);

$theme-input-bg-color:          #4e4e4e;
$theme-input-font-color:        #fff;
$theme-button-bg-color:         #4e4e4e;
$theme-button-font-color:       #fff;

$theme-accordion-header-color:  #f58220;

$theme-section-spacing:         90px;