@import 'themable/default';

// Custom
$package-path:                  '/packages/sequence/';
$icomoon-font-path:             '#{$package-path}fonts/icomoon';
$image-path:                    '#{$package-path}images';
$font-family-icomoon:           'icomoon';
$nav-sidebar-width:             320px;
$mask-animate-time:             0.5s;

// Bootstrap
$body-bg:                       $theme-body-bg-color;

$text-color:                    $theme-font-color;
$font-family-base:              $theme-font-family;
$font-size-base:                $theme-font-size;

$border-radius-base:            0;
$border-radius-large:           0;
$border-radius-small:           0;

$btn-default-color:             $theme-button-font-color;
$btn-default-bg:                $theme-button-bg-color;
$btn-default-border:            $theme-button-bg-color;

$input-bg:                      $theme-input-bg-color;
$input-border:                  $theme-input-bg-color;
$input-color:                   $theme-input-font-color;
$input-border-focus:            $theme-input-font-color;

$grid-gutter-width:             60px;
$container-sm:                  100%;

// Imports
@import 'compass';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables';
@import '../../bower_components/bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins';

// Mixins
@mixin scrollOverflow {
  overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch;
}