@import 'required';
@import 'elements/modal-window';
@import 'elements/header_and_nav';

* {-webkit-font-smoothing:antialiased;}
html, body {height:100%;font-size:$font-size-base;}
html.no-scroll {overflow:hidden;}
img {@include img-responsive(inline-block);padding-bottom:0.75rem;}


// Page wrapper
#c-level-1 {height:100%;

  input, textarea, button, a {&:focus, &:active {outline:0 !important;@include box-shadow(none !important);}}
  a, a:hover, a:active {cursor:pointer;/*text-decoration:none;*/}
  h3,h4,h5 {
    &:first-of-type {margin-top:0;}
  }

  .theme-text-huge {font-size:3.9rem;}
  .theme-highlight-color {color:$theme-highlight-color;}
  .theme-light-color {color:$theme-light-color;}
  .theme-dark-color {color:$theme-dark-color;}

  .anglified p::before {content:'>\0000a0';color:$theme-highlight-color;}

  .iconified {position:relative;padding-bottom:2rem;padding-left:($grid-gutter-width / 4);
    &::before {font-family:$font-family-customicons;position:absolute;left:0;top:0;display:inline-block;color:$theme-highlight-color;font-size:150%;line-height:1;@include transform(translateX(-50%));}
    &.custom-icon-1::before {content: "\e600";}
    &.custom-icon-2::before {content: "\e601";}
    &.custom-icon-3::before {content: "\e602";}
    &.custom-icon-4::before {content: "\e603";}
    &.custom-icon-5::before {content: "\e604";}
    &.custom-icon-6::before {content: "\e605";}
    &.custom-icon-7::before {content: "\e606";}
    &.custom-icon-8::before {content: "\e607";}
    &.custom-icon-9::before {content: "\e608";}
    h2,h3,h4,h5 {margin:0 0 0.5rem;}
  }

  .statistic {text-align:center;
    b {font-size:420%;display:block;font-weight:100;line-height:1;letter-spacing:-1px;}
  }

  // For sidebar navigation on mobile
  [slideable]{@include transform(translateX(0));@include transition(all 0.25s ease);}

  main {height:100%;width:100%;position:relative;}

  /**********************************************************************
  Page Sections!
  @todo: themable first-of-type and last-of-type sections
  **********************************************************************/
  section {padding:$theme-section-spacing 0;overflow:hidden;
    &:first-of-type {padding:0;height:100%;width:100%;position:relative;background:$theme-dark-color;}
    &:last-of-type {padding-top:$theme-section-spacing/2;}
    h2 {text-align:center;margin:0;padding:2rem 1rem 3rem;text-transform:uppercase;}
    [class*="wrap-"]{margin:-$theme-section-spacing 0;padding:$theme-section-spacing 0;background-size:cover;background-position:50% 100%;background-attachment:fixed;}
    .wrap-custom {/* un-styled; either parallax or custom color */}
    .wrap-theme-highlight {color:#000;background:$theme-highlight-color;}
    .wrap-theme-light {background:$theme-light-color;}
    .wrap-theme-dark {background:$theme-dark-color;}
  }

  footer {font-size:14px;display:block;text-align:center;padding:1rem;@include transform(translateY(-100%));background:#000;}

  aside[scroll-top]{color:#fff;font-size:2rem;position:fixed;bottom:-100%;right:10px;display:inline-block;line-height:1;background:rgba(0,0,0,0.45);cursor:pointer;z-index:9;@include transition(bottom 0.25s ease);
    &:hover {background:rgba($theme-highlight-color,0.85);}
    &.visible {bottom:10px;}
  }

  @import 'elements/accordion';
  @import 'elements/masthead';
  @import 'elements/quote-cycle';
  @import 'elements/isotope';
}

// > screen-sm
@media screen and (min-width:$screen-sm){
  #c-level-1 {
    section:last-of-type {height:100%;width:100%;background:$theme-dark-color;}
    form {
      .col-sm-6 {
        &:nth-child(1){padding-right:(($grid-gutter-width/4)/2);}
        &:nth-child(2){padding-left:(($grid-gutter-width/4)/2);}
      }
    }
  }
}

// > screen-md
@media screen and (min-width:$screen-md){
  #c-level-1 {
    .iconified {margin-left:($grid-gutter-width / 4);padding-right:($grid-gutter-width / 4);}
  }
}

// Sidebar nav
@media screen and (max-width:$screen-sm){
  html.sidebar-nav {
    #c-level-1 {
      [slideable]{@include transform(translateX(-$nav-sidebar-width));}
      nav::after {visibility:visible;opacity:1;z-index:3;}
    }
  }
}

/**
 * Touch devices
 */
html.touch {
  #c-level-1 {
    section [class*="wrap-"]{background-attachment:scroll;}
  }
}

/**
* When Logged In
*/
.ccm-toolbar-visible {
  #c-level-1 {
    header {top:49px;}
  }
}

/**
* When In Edit Mode
*/
html.cms-edit-mode {
  #c-level-1 {
    header {
      figure {max-width:50%;}
    }

    [masthead] .node-content {max-width:85%;min-width:500px;width:auto;}

    [isotope]{margin-bottom:0;}


    section {overflow:visible;
      [data-area-handle*="Main"]:not([data-area-handle*=":"]) {margin:-$theme-section-spacing 0;padding:$theme-section-spacing 0;}
      .ccm-block-edit-layout {padding:($grid-gutter-width/4);
        [class*="col-"]{padding-left:$grid-gutter-width/2 !important;padding-right:$grid-gutter-width/2 !important;}
      }
    }
  }
}