header {text-transform:uppercase;z-index:4;
  a {color:$theme-light-color;text-decoration:none !important;
    &:hover, &:active, &:focus {color:$theme-highlight-color;}
    img {padding:0;}
  }
  figure {padding:0 0.75rem;position:absolute;width:100%;margin:0;z-index:1;
    a {padding:0.75rem 0;display:block;max-width:180px;}
  }
  nav {position:fixed;top:0;bottom:0;left:100%;height:100%;width:$nav-sidebar-width;background:$theme-dark-color;z-index:4;
    &::after {visibility:hidden;opacity:0;position:fixed;content:'';display:block;top:0;bottom:0;min-height:100%;right:100%;width:1000%;background:rgba(0,0,0,0.8);z-index:-1;@include transform(translateZ(0));@include transition(all $mask-animate-time ease);}
    .trigger {opacity:0.5;margin:0.5rem;display:inline-block;padding:1rem;position:absolute;top:8px;/*0*/right:100%;z-index:4;background:transparent url('#{$image-path}/nav_icon.svg') no-repeat 50% 50%;background-size:cover;}
    .inner {position:relative;width:100%;height:100%;@include scrollOverflow;}
    ul {list-style:none;padding:0;margin:0;
      li {
        a {display:block;border-top:1px solid $theme-highlight-color;
          span {padding:1rem;display:block;}
        }
        &:first-child a {border-top:0;}
      }
    }
  }
}